<!---->
<launch>

	<!-- Leg detection -->
	<include file="$(find leg_detector)/launch/leg_detector.launch"/>
	
	<!-- Face detection -->
	<include file="$(find bk_launch)/launch/face_detector.launch"/>
	
	<!-- OpenNI body detection -->
	<include file="$(find bk_launch)/launch/skeletal_tracker.launch"/>
	<include file="$(find bk_launch)/launch/similarity_plots.launch"/>
	
	<!-- Overall Kalman filter for tracking -->
	<include file="$(find people_tracking_filter)/launch/filter.launch"/>
	
</launch>
